@use "./views/index";
@use "./views/App";

@use "./components/Header.scss";
@use "./components/Nav.scss";

@use "./components/Home";

@use "./components/FormLogIn";
@use "./components/FormSignUp";

@use "./components/DashboardTeacher";
@use "./components/Profile";
@use "./components/InfoUser";
@use "./components/Weekclasses";
@use "./components/WeekClassesCard";


@use "./components/Footer";