@use "./views/index";
@use "./views/App";

@use "./components/Header.scss";
@use "./components/Nav.scss";

@use "./components/Home";

@use "./components/FormLogIn";
@use "./components/FormSignUp";

@use "./components/DashboardTeacher";

@use "./components/Footer";