.classDatail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    align-self: flex-start;
  }

  .backButton {
    display: flex;
    gap: 8px;
    align-self: flex-start;
    padding: 12px 24px;
    border: 2px solid var(--black);
    border-radius: 50px;
    background-color: var(--white);
    cursor: pointer;
    font-weight: var(--font-medium);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--pink);
    }
  }
}

.classDetailInfo {
  width: 320px;
  max-width: 700px;
  background-color: var(--pink);
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);

  h2 {
    font-size: 40px;
    padding-bottom: 4px;
    border-bottom: 3px solid var(--black);
    margin-bottom: 12px;
  }

  h3 {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    font-size: 25px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--black);
  }

  p {
    font-size: 20px;
    margin: 8px 0;
  }

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 8px;

      a {
        font-weight: var(--font-medium);
        font-size: 18px;
        color: var(--black);

        &:hover {
          color: #ae3c73;
        }
      }

      .deleteMaterialButton {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        border-radius: 50%;
        border: 2px solid var(--black);
        background-color: var(--pink);
        color: var(--white);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: var(--white);
        }
      }
    }
  }

  .ClassesDetailsButtons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;

    .editButton,
    .deleteButton {
      padding: 10px 24px;
      border-radius: 50px;
      border: 2px solid var(--black);
      background-color: var(--black);
      color: var(--white);
      font-weight: var(--font-medium);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--pink);
        color: var(--black);
      }

      &:last-child {
        background-color: transparent;
        color: var(--black);

        &:hover {
          background-color: var(--black);
          color: var(--white);
        }
      }
    }
  }
}

.editForm {
  width: 320px;
  background-color: var(--white);
  border: 4px solid var(--black);
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-size: 24px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid var(--black);
  }

  label {
    font-weight: var(--font-medium);
    font-size: 20px;
  }

  input,
  select {
    padding: 10px 16px;
    border-radius: 50px;
    border: 2px solid var(--black);
    font-size: 16px;
    background-color: var(--white);
  }

  .editButtons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;

    .saveEditButton,
    .cancelarEditButton {
      display: flex;
      gap: 8px;
      padding: 8px 24px;
      border-radius: 50px;
      border: 2px solid var(--black);
      font-weight: var(--font-medium);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .saveEditButton {
      background-color: var(--black);
      color: var(--white);

      &:hover {
        background-color: var(--green);
        color: var(--black);
      }
    }

    .cancelarEditButton {
      background-color: var(--white);
      color: var(--black);

      &:hover {
        background-color: var(--green);
        color: var(--black);
      }
    }
  }

  ul {
    padding-left: 20px;
    margin-bottom: 16px;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;

      a {
        display: flex;
        padding: 4px 16px;
        background-color: var(--white);
        border-radius: 50px;
        border: 2px solid var(--black);
        font-weight: var(--font-medium);
        text-decoration: none;
        color: var(--black);

        &:hover {
          text-decoration: underline;
        }
      }

      .deleteMaterialButton {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        border-radius: 8px;
        border: 2px solid var(--black);
        background-color: var(--pink);
        color: var(--black);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--black);
          color: var(--white);
        }
      }
    }
  }
  .labelMaterial {
    padding-bottom: 4px;
    border-bottom: 2px solid var(--black);
  }

  .newMaterial {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    p {
      margin: 0;
      font-size: 16px;
    }

    .newMaterialInput {
      flex: 1;
      width: 80px;
      padding: 8px 12px;
      border-radius: 50px;
      border: 2px solid var(--black);
      background-color: var(--white);
      font-size: 16px;
    }

    .deleteMaterialButton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      border-radius: 8px;
      border: 2px solid var(--black);
      background-color: var(--pink);
      color: var(--black);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  .addNewMaterialEdit {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--black);
    cursor: pointer;
    font-weight: var(--font-medium);
    transition: all 0.3s ease;
    margin-top: 24px;

    &:hover {
      background-color: var(--white);
      border: 2px solid var(--black);
      color: var(--black);
    }
  }
}

@media (min-width: 1024px) {
  .classDatail h1 {
    align-self: center;
  }

  .classDetailInfo,
  .editForm {
    width: 1200px;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 32px;
    align-items: start;
  }

  .classDetailInfo h2,
  .editForm h2 {
    grid-column: 1 / -1;
  }

  .editForm label {
    font-size: 18px;
  }

  .editForm .formRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  .editForm input,
  .editForm select {
    width: 800px;
  }

  .editForm input[type="datetime-local"] {
    width: 765px;
  }

  .editForm ul {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .editForm ul li {
    flex: 1 1 calc(50% - 16px);
  }

  .ClassesDetailsButtons,
  .editButtons {
    grid-column: 1 / -1;
    justify-content: flex-end;
  }

  .newMaterial {
    flex-direction: row;
    align-items: center;
  }

  .addNewMaterialEdit {
    justify-self: start;
  }
}
