
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 20px;
  font-size: 14px;
  font-weight: var(--font-regular);

  box-sizing: border-box;
  margin-top: 100px;
}
