.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--black);
  border-radius: 32px;
  padding: 24px;
  margin: 0 auto;

  .signUpPerson {
    width: 310px;
    margin-bottom: 0;
  }

  .formRegister {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .infoSignUp{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    label {
      font-weight: var(--font-medium);
      font-size: 20px;
      margin-top: 8px;
    }

    input,
    select {
      width: 300px;
      padding: 12px 16px;
      border: 2px solid var(--grey);
      border-radius: 50px;
      font-size: 16px;
      outline: none;
      background-color: var(--white);

      &:focus {
        border-color: var(--pink);
      }
    }
    .error{
        color: #ff5778;
    }

    select {
        width: 335px;
      cursor: pointer;
    }

    .signUpButton {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 16px 24px;
      border-radius: 50px;
      font-size: 18px;
      font-weight: var(--font-medium);
      border: 2px solid var(--black);
      background-color: var(--black);
      color: var(--white);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--green);
        color: var(--black);
      }
    }
  }
}



@media (min-width: 1024px) {
  .signUp {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1320px;
    padding: 32px;
    gap: 100px;
    margin: 0 auto;

    .signUpPerson {
      width: 400px;
    }

    .formRegister {
      max-width: 900px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 64px;
      row-gap: 24px;

      h1 {
        grid-column: 1 / -1;
        text-align: left;
        margin-bottom: 16px;
      }

      .infoSignUp {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      input,
      select {
        width: 350px;
        font-size: 18px;
      }

      .signUpButton {
        grid-column: 1 / -1;
        justify-self: center;
        width: 300px;
        margin-top: 32px;
      }
    }
  }
}
