.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--black);
  border-radius: 40px;
  padding: 16px 24px;
  gap: 16px;

  .profilePerson {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  .infoUserCard {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      font-weight: var(--font-regular);
      margin-bottom: 0;

      strong {
        margin-right: 8px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .userInfo {
    flex-direction: row;
    align-items: center;
    padding: 32px;
    width: 800px;
    gap: 32px;

    .profilePerson {
      width: 300px;
      margin-bottom: 0;
    }

    .infoUserCard {
      align-items: start;
      justify-content: start;
      p {
        font-size: 20px;
      }
    }
  }
}
