.profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  margin: 0 auto;
  margin-top: 0;

  h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    align-self: flex-start;
  }

  a {
    text-decoration: none;
  }
  .profilePerson {
    margin-bottom: 8px;
  }
  .backButton {
    display: flex;
    align-self: flex-start;
    padding: 12px 24px;
    border: 2px solid var(--black);
    border-radius: 50px;
    background-color: var(--white);
    cursor: pointer;
    font-weight: var(--font-medium);
    gap: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--pink);
      color: var(--black);
    }
  }

  .infoUserCard,
  .weekClases {
    width: 100%;
    margin-bottom: 24px;
  }

  .profileButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .allClassesButton,
    .calendarButton {
      display: flex;
      padding: 12px 24px;
      width: 200px;
      justify-content: center;
      border-radius: 50px;
      border: 2px solid var(--black);
      background-color: var(--black);
      color: var(--white);
      font-weight: var(--font-medium);
      gap: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--green);
        color: var(--black);
      }
    }
  }
}

@media (min-width: 1024px) {
  .profile .infoUserCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

    h1 {
      text-align: left;
      margin-bottom: 0;
    }

    .profilePerson {
      width: 400px;
      height: auto;
      margin-bottom: 0;
    }
  }

  .profile .profileButtons {
    flex-direction: row;
    margin-top: 24px;
    gap: 24px;
    justify-content: flex-start;
  }
}
