.latestClasses {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 16px;
}

@media (min-width: 1024px) {
  .latestClasses {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}}
