.latesClassCard {
    border-radius: 32px;
    background-color: var(--green);
    width: 300px;
    padding: 16px;
    background-color: var(--);
    transition: all 0.3s ease;

    h3 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
    }

    &:hover {
      border-color: var(--pink);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: 1024px) {
  .latestClasses {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;

    .latesClassCard {
      width: 270px;
    }
  }
}
